<h3>Add Articles:</h3>

<div class="add-lessons-form" [formGroup]="form">
  <ng-container formArrayName="articles">
    <ng-container *ngFor="let articleForm of articles.controls; let i = index">
      <div class="lesson-form-row" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-select formControlName="codeArticle"
                      placeholder="code Article">
            <mat-option value="beginner">Beginner</mat-option>
            <mat-option value="intermediate">Intermediate</mat-option>
            <mat-option value="advanced">Advanced</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="designation"
                 placeholder="designation">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="PI"
                 placeholder="PI">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="qte"
                 placeholder="qte">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="puvht"
                 placeholder="puvht">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="rem"
                 placeholder="rem">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="puvttc"
                 placeholder="puvttc">
        </mat-form-field>


        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="totalHt"
                 placeholder="totalHt">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="tva"
                 placeholder="tva">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput
                 formControlName="totalTTC"
                 placeholder="totalTTC">
        </mat-form-field>


        <mat-icon class="delete-btn" (click)="deleteArticle(i)">
          delete_forever
        </mat-icon>
      </div>
    </ng-container>
  </ng-container>

  <button mat-mini-fab (click)="addArticle()">
    <mat-icon class="add-course-btn">add</mat-icon>
  </button>

</div>
{{form.value | json}}
